input,
label,
textarea {
  display: block;
  font-family: Sans-Serif;
  font-size: 16px;
}

label {
  margin-bottom: 20px;
}

input,
textarea {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 2px;
  padding: 12px 20px;
  margin: 8px 0;
}

input:focus,
textarea:focus {
  outline: 0;
}

textarea {
  resize: vertical;
}
