input,
label,
textarea {
font-family: Sans-Serif;
font-size: 16px;
display: block;
}

label {
  margin-bottom: 2px;
}

input,
textarea {
margin-bottom: 15px;
border: 1px solid $black;
border-radius: 2px;
background-color: $white;
padding: 6px;
}

input:focus,
textarea:focus {
outline: 0;
}

textarea {
resize:vertical;
}
