//
// Main
// --------------------------------------------------

html,
body {
  height: 100%;
}

body {
  margin: 0 20%;
}

.page-connect,
.page-services,
.page-about {
  brand name {
    cursor: pointer;
    font-size: 2rem;
    padding-top: 0;

    info {
      display: none;
		}
	}
}

.page-connect connect,
.page-services services,
.page-about message {
  display: block;
  opacity: 1;
}

services,
message {
  display: none;
  opacity: 0;
  transition: .3s;
}

p {
  font-size: 1.2rem;
}

brand {
  height: 85%;

  > name {
    display: block;
    font-size: 8vmax;
    padding-top: 20%;
    transition: .3s;

    info {
      font-size: 3vmax;
		}
	}

  > connect {
    display: none;
    margin: 25px 0;
    opacity: 0;
    transition: .3s;
  }
}

nav {
  height: 15%;
  padding-top: 20px;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    > li,
		  a {
      color: $black;
      cursor: pointer;
      text-decoration: none;
		}

    > li:not(last-child) {
      margin-left: 5%;
		}
	}
}
