$white:					#c6c6c6 !default;
$black:					#121212 !default;

html {
  background: $white;
  color: $black;
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

@import 'button';
@import 'form';
@import 'layout';
