$white:					#fff !default;
$black:					#121212 !default;

html {
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: $black;
}

@import 'button';
@import 'form';
@import 'layout';
